* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  background: linear-gradient(135deg, #ed9c61, #e26984);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
